<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>city_id:</b>
  <%= @person.city_id %>
</p>

<p>
  <b>city_id:</b>
  <%= @person.birth_date %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
