<!DOCTYPE html>
<html>
<%= image_tag "rails.png" %>

<!-- <%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %> -->
<a href="http://www.host96.ru" alt="Бесплатный хостинг HOST96.ru" target="_host96">Бесплатный хостинг HOST96.ru</a>
<head>
  <title>Rusrails</title>
</head>
<body style="background: #EEEEEE;">

<%= yield %>

  
</body>

</html>
